<div id ="container topLine">
  <div class="row">
    <div class = "col-md-6">
      <h1>Big Dave's Virtual Car Showroom</h1>
    </div>
    <div class="col-md-offset-5 col-md-1"><img src="images/cartoon.jpg" alt="">
    </div>
  </div>
</div>

<% @cars.each do |car| %>
<div class = "container">
  <div class="row">
    <div class = "col-md-6">
    <a href="/:id/edit"><h1><%= car.make %></h1></a>
    <p><%= car.name %></p>
    <p><%= car.description %></p>
  </div>
  <div class="col-md-6">
    <img src="images/<%= car.name %>.jpg" alt="">
  </div>

  </div>

</div>
<% end %>
